{
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "plugins": ["prettier-plugin-astro"],
  "pluginSearchDirs": false
}