.custom-select {
  border: 1px solid #373737;
  width: 200px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.select {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 11px;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  height: 25px;
  padding-left: 5px;
}

.select:focus {
  outline: none;
}

.submit {
  font-size: 11px;
  text-transform: uppercase;
  font-family: IBM Plex Mono, monospace;
  margin-left: 10px;
  background-color: #373737;
  padding: 7px 12px;
  color: #fff;
  cursor: pointer;
}

.submit-disabled {
  font-size: 11px;
  text-transform: uppercase;
  font-family: IBM Plex Mono, monospace;
  margin-left: 10px;
  background-color: #373737a2;
  padding: 7px 12px;
  color: #fff;
  cursor: not-allowed;
}

.container {
  display: flex;
  align-items: center;
}

.message {
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 12px;
  font-family: IBM Plex Mono, monospace;
  cursor: default;
  color: #000;
}
