---
import { productsData } from "../../utils/data";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return productsData.map((product) => ({
    params: { id: product.url },
    props: { product },
  }))
}

const { product } = Astro.props;

// export const prerender = true
---

<Layout title={`brillaire  /${product.url}`}>
  <main>
    <h1>{product.name}</h1>
  </main>
</Layout>

