---
import Layout from '../layouts/Layout.astro'
---

<Layout title='brillaire /FAQ'>
	<main>
		<p>
			FAQ is coming soon. In the meantime, you can send us your questions at <a
				href='mailto:vort@brillaire.com'
				style='text-decoration: underline;'>vort@brillaire.com</a
			>
		</p>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		margin: 0 1.875rem;
		height: 75vh;
	}
</style>
