---
import NavLinkBag from './NavLinkBag.jsx'
---

<script>
	const currentLocation = window.location.href
	const menuItem = document.querySelectorAll('nav ul li a')
	const menuLength = menuItem.length
	for (let i = 0; i < menuLength; i++) {
		if (menuItem[i].href === currentLocation) {
			menuItem[i].classList.add('active-nav')
		}
	}
</script>

<nav class='nav-menu'>
	<ul>
		<li><a class='nav-link' href='/'>Home</a></li>
		<li><a class='nav-link' href='/shop'>Shop</a></li>
		<li><a class='nav-link' href='/faq'>FAQ</a></li>
		<NavLinkBag client:load />
	</ul>
</nav>

<style is:global>
	.active-nav {
		text-decoration: underline;
	}

	.nav-link {
		margin-bottom: 3px;
	}

	.nav-link:hover {
		text-decoration: underline;
	}
</style>

<style>
	@media (max-width: 768px) {
		.nav-menu {
			display: none;
		}
	}
</style>
