---
import NavLinkBag from './NavLinkBag.jsx'
---

<script>
	const currentLocation = window.location.href
	const menuItem = document.querySelectorAll('nav div a')
	const menuLength = menuItem.length
	for (let i = 0; i < menuLength; i++) {
		if (menuItem[i].getAttribute('href') === currentLocation) {
			menuItem[i].classList.add('active-nav')
		}
	}
</script>

<nav class='nav-menu'>
	<div>
		<a class='nav-link' href='/'>Home</a>
		<a class='nav-link' href='/shop'>Shop</a>
		<a class='nav-link' href='/faq'>FAQ</a>
		<NavLinkBag client:load />
	</div>
</nav>

<style is:global>
	.active-nav {
		text-decoration: underline;
	}

	.nav-link {
		margin-bottom: 3px;
	}

	.nav-link:hover {
		text-decoration: underline;
	}
</style>

<style>
	@media (max-width: 768px) {
		.nav-menu {
			display: none;
		}
	}
</style>
