<footer>
	<nav>
		<a href='/shop'>SHOP ALL</a>
		<a href='/faq'>FAQ</a>
		<a href='https://webexstudio.vercel.app/' target='_blank' rel='noreferrer'>PORTFOLIO</a>
	</nav>
	<div class='subscribe'>
		<h2 class='description'>Subscribe to our newsletter</h2>
		<p>Stay up to date to our latest news regarding exclusive collections, previews and sales</p>
		<div class='subscription-container'>
			<input type='text' placeholder='Email' />
			<p>Subscribe</p>
		</div>
	</div>
</footer>
<p class='copyrights'>© 2023 Brillaire. All Rights Reserved.</p>

<style>
	footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 1.7rem 1.875rem 0 1.7rem;
		width: 100%;
		position: relative;
	}

	nav {
		display: flex;
		flex-direction: column;
		text-transform: uppercase;
		width: 250px;
	}

	a {
		font-size: 12px;
		margin-bottom: 3px;
	}

	.subscribe {
		margin-left: 20px;
		width: 300px;
	}

	.subscribe h2 {
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 400;
		margin-bottom: 5px;
	}

	.subscribe p {
		font-size: 11px;
	}

	.subscription-container {
		margin-top: 10px;
		display: flex;
		align-items: center;
	}

	.subscription-container input {
		width: 100%;
		font-family: IBM Plex Mono, monospace;
		font-size: 11px;
		padding: 5px;
		border: 1px #00000094 solid;
		border-radius: 2px;
	}

	.subscription-container p {
		margin-left: 10px;
		text-transform: uppercase;
		background-color: #000;
		color: #fff;
		padding: 5px 18px;
		font-size: 11px;
		cursor: pointer;
	}

	a:hover {
		text-decoration: underline;
	}

	.copyrights {
		margin-top: 10px;
		margin-bottom: 2.5rem;
		font-size: 11px;
		padding: 0 1.875rem;
	}

	@media (max-width: 600px) {
		footer {
			flex-direction: column;
			gap: 1rem;
		}

		.subscribe {
			margin-left: 0;
			width: 100%;
		}
	}
</style>
