---
import NavLinks from './subcomponents/NavLinks.astro'
---

<header>
	<div class='logo-container'>
		<a href='/'>
			<h1 class='logo'>Brillaire</h1>
		</a>
		<span style='font-size: 0.7rem'>Have a great time.</span>
		<span style='font-size: 0.7rem'>Free shipping over 275$ CAD</span>
	</div>
	<NavLinks />
	<div class='cart-container'>
		<a href='/'>
			<img src='icons/CartShopIcon.svg' alt='cart' height='20px' width='20px' />
		</a>
		<img id='burguer-icon' src='images/burger.png' alt='burguer' height='10px' width='22px' />
		<nav class='nav-links' id='nav-links'>
			<button class='close-btn' id='close-btn'>CLOSE</button>
			<ul>
				<li><a class='link' href='/'>HOME</a></li>
				<li><a class='link' href='/shop'>SHOP</a></li>
				<li><a class='link' href='/faq'>FAQ</a></li>
				<li><a class='link' href='/cart'>BAG[0]</a></li>
			</ul>
		</nav>
	</div>
</header>

<style>
	header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 1.875rem;
		width: 100%;
	}

	.logo-container {
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
	}

	.logo {
		font-size: 2rem;
		font-weight: 600;
		text-transform: uppercase;
		font-family: sans-serif;
		letter-spacing: 1px;
		margin-bottom: .3rem;
	}

	.cart-container {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		cursor: pointer;
		display: none;
	}

	.nav-active {
		display: flex;
	}

	.close-btn {
		text-align: left;
    width: 100%;
		font-size: 1rem;
	}

	.nav-links {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 0;
		right: 0;
		background-color: #fff;
		width: 100%;
		padding: 30px 20px 20px;
		height: 100%;
		flex-direction: column;
    align-items: flex-end;
		font-size: 1rem;
	}

	ul {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.link {
		margin-bottom: 5px;
	}

	@media (max-width: 768px) {
		.cart-container {
			display: flex;
		}
	}
</style>

<script>
	const burguerIcon = document.getElementById('burguer-icon');
	const navLinks = document.getElementById('nav-links');
	const closeBtn = document.getElementById('close-btn');

	burguerIcon.addEventListener('click', () => {
		navLinks.style.display = 'flex'
	})

	closeBtn.addEventListener('click', () => {
		navLinks.style.display = 'none'
	})
</script>
