---
import CartListItems from '../components/Cart/CartListItems.jsx'
import SubtotalBag from '../components/Cart/SubTotalBag.jsx'
---

<main>
	<section>
		<CartListItems client:load />
		<div class='checkout-container'>
			<div class='subtotal'>
				<p style='font-size: 12px;'>Subtotal</p>
				<SubtotalBag client:load />
			</div>
			<div class='shipping'>
				<p style='font-size: 12px;'>Shipping</p>
				<p style='font-size: 12px;'>Calculated at checkout</p>
			</div>
			<p class='checkout' id='loadingButton'>CHECKOUT</p>
		</div>
	</section>
</main>

<script>
	function showLoading() {
		const button = document.getElementById('loadingButton') as HTMLButtonElement
		button.disabled = true // Deshabilitar el botón para evitar múltiples clicks
		button.textContent = 'Loading' // Cambia el texto a 'Loading'
		button.classList.add('dots') // Añadir la clase con los puntos animados
	}

	document.getElementById('loadingButton').addEventListener('click', showLoading)
</script>

<style>
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 1.875rem;
	}

	section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 80px;
		padding: 0 1rem;
	}

	.checkout-container {
		display: flex;
		flex-direction: column;
		text-transform: uppercase;
		width: 30vw;
		max-width: 450px;
	}

	.subtotal,
	.shipping {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin-bottom: 5px;
	}

	.checkout {
		color: #fff;
		padding: 10px 0;
		text-align: center;
		cursor: pointer;
		width: 100%;
		background-color: #373737;
		margin-top: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 12px;
	}

	.dots::after {
		content: '';
		display: inline-block;
		width: 1ch;
		text-align: left;
		animation: dots 1.5s steps(4, end) infinite;
	}

	@keyframes dots {
		0%,
		20% {
			content: '';
		}
		40% {
			content: '.';
		}
		60% {
			content: '..';
		}
		80%,
		100% {
			content: '...';
		}
	}

	@media screen and (min-width: 1000px) {
		.cart-item {
			border-bottom: 1px solid #9d9d9d;
			padding-bottom: 35px;
		}
	}

	@media (min-width: 800px) {
		section {
			min-height: 100vh;
		}
	}

	@media (max-width: 800px) {
		section {
			flex-direction: column-reverse;
			margin-top: 40px;
			padding: 0 0.5rem;
		}

		.checkout-container {
			width: 100%;
			max-width: 100%;
		}
	}
</style>
